.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .text {
    color: #09d3ac;
    font-size: 32px;
  }

  .button {
    cursor: pointer;
    margin: 20px 0;
  }
}
